export(cohortRetention)
export(cohortSummary)
export(cohortSummaryLaTeX)
export(fySummary)
export(fySummaryLaTeX)
export(plot.CohortRetention)
export(plotPersistence)
export(plotRetention)
export(plotRetentionOverall)
export(quarterSummaryLaTeX)
export(quarterlySummary)
export(retention)
export(retentionSummary)
export(retentionSummaryLaTeX)
export(studentDetails)
